name: nostrmo
description: A nostr client.
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 3.1.0+32

environment:
  sdk: '>=2.19.2 <3.0.0'

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  nostr_sdk:
    path: packages/nostr_sdk
  flutter_nesigner_sdk:
    path: packages/flutter_nesigner_sdk
  nesigner_adapter:
    path: packages/nesigner_adapter
  relay_isar_db:
    path: packages/relay_isar_db

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  pointycastle: ^3.9.1
  encrypt: ^5.0.3
  convert: ^3.1.1
  provider: ^6.1.4
  shared_preferences: ^2.2.3
  bot_toast: ^4.1.3
  flutter_quill: 10.8.5
  get_time_ago: ^2.3.0
  cached_network_image: ^3.4.1
  flutter_native_splash: ^2.4.0
  flutter_animate: ^4.5.0
  # wechat_assets_picker: ^8.8.1+1
  wechat_assets_picker: ^9.4.0
  file_picker: ^8.1.2
  emoji_picker_flutter: ^4.3.0
  widget_size: ^1.0.0
  # webview_flutter: ^4.4.2
  # if build a web version, should remove the package flutter_inappwebview
  flutter_inappwebview: 6.1.2
  screenshot: ^3.0.0
  share_plus: ^10.0.2
  media_kit: ^1.2.0
  media_kit_video: ^1.3.0
  media_kit_libs_video: ^1.0.6
  image_picker: ^1.1.2
  pretty_qr_code: ^3.4.0
  # flutter_link_previewer: ^3.2.2
  # this package i had fix some bugs, if you havn't download this package, you can use pub package.
  flutter_link_previewer:
    path: ../flutter_link_previewer
  easy_image_viewer: ^1.5.1
  flutter_placeholder_textlines: ^1.2.0
  google_fonts: ^6.2.1
  # flutter_font_picker: ^1.3.0
  flutter_font_picker: ^1.4.0
  local_auth: ^2.3.0
  crypto: ^3.0.5
  flutter_inapp_purchase: ^5.6.1
  google_mlkit_translation: ^0.13.0
  google_mlkit_language_id: ^0.13.0
  flutter_markdown: ^0.7.7
  window_manager: ^0.4.3
  # qr_code_scanner: ^1.0.1
  qr_code_scanner_plus: ^2.0.10+1
  # image_gallery_saver: ^2.0.3
  flutter_image_gallery_saver: ^0.0.2
  permission_handler: ^11.3.1
  file_saver: ^0.2.14
  auto_size_text_field: ^2.2.4
  numberpicker: ^2.1.2
  table_calendar: ^3.2.0
  intl: ^0.20.2
  flutter_image_compress: ^2.4.0
  dynamic_height_grid_view: ^0.0.4
  flutter_seekbar: ^1.0.1
  flutter_colorpicker: ^1.1.0
  blurhash_ffi: ^1.2.7
  blurhash_dart: ^1.2.1
  flutter_json_view: ^1.1.5
  star_menu: ^4.0.1
  markdown_widget: ^2.3.2+6
  extended_nested_scroll_view: ^6.2.1
  loading_more_list: ^7.1.0
  tray_manager: ^0.4.0
  local_notifier: ^0.1.6
  scrollable_positioned_list: ^0.3.8

dev_dependencies:
  flutter_launcher_icons: ^0.14.1
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^2.0.0

dependency_overrides:
  photo_manager: ^3.6.4
  extended_image: ^9.1.0
  google_fonts: ^6.2.1
  web: ^1.1.0
  win32: ^5.5.4
  archive: ^3.6.1
  http: ^1.2.2
  video_player: ^2.9.5
  video_player_web: ^2.3.4
  video_player_android: ^2.8.2
  intl: ^0.20.2
  google_mlkit_commons: ^0.11.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - assets/imgs/
    - assets/imgs/music/
    - assets/imgs/logo/logo512.png
    - assets/imgs/logo/logo.ico
    # - assets/imgs/logo/logo_android.png
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

# new version icons
flutter_launcher_icons:
  image_path_ios: 'assets/imgs/logo/logo_ios.jpg'
  image_path_android: 'assets/imgs/logo/logo_android.png'
  android: true
  ios: true
  windows:
    generate: true
    image_path: "assets/imgs/logo/logo_android.png"
  macos:
    generate: true
    image_path: "assets/imgs/logo/logo_ios.jpg"

flutter_native_splash:
  color: "#f6f3f3"
  image: assets/imgs/logo/logo512.png
  fullscreen: true

flutter_intl:
  enabled: true
